.newsletter{
    text-align: center;
    margin-bottom: 2%;
    font-size: 3vh;
    font-family: 'Nimbus';
    background-color: rgb(212, 203, 189);
    padding-top: 2%;
    padding-bottom: 3%;
}

.newsletter h2{
    margin:0;
}

.newsletter input[type="email"]{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
}

.newsletter [type="submit"]{
    background: -webkit-linear-gradient(yellow, #b05200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    font-size: 2vh;
    font-family: 'Nimbus';
}

.newsletter a{
    background-color: rgb(56, 99, 0);
    border: none;
    padding-bottom: .7%;
    width: 10%;
}