/** HEADER AND HOMEPAGE CONTENT **/

body{
    background-color:rgb(249, 238, 222);
    margin:0;
    width:auto;
    border:none;
}

@font-face {
    font-family: Nimbus;
    src: url(/Various-assets/NimbusRomNo9L-Med.otf);
}

@font-face {
    font-family: Aerodynamic;
    src: url(/Various-assets/Aerodynamic-aGag.otf);
}

.sub-heading{
    color: rgb(135, 250, 119);
    background-color: rgb(4, 52, 0);
    font-size: xx-large;
    text-align: center;
    border-bottom: solid;
    border:none;
    font-family: Aerodynamic;
    margin: 0;
    position: relative;
}

footer{
    border:none;
    color: #000000;
    background-color: rgb(96, 96, 96);
    color:white;
    position: absolute;
    bottom:0;
    align:left;
    font-family: 'Nimbus', sans-serif;
    width:100%;
}

/** HEADER, HOMEPAGE, FOOTER CONTENT **/

/** side-nav configuration **/
.side-nav button, .side-nav a{
    border:none;
    background:none;
    text-decoration: none;
    color: #000000;
    font-family: 'Aerodynamic', sans-serif;
    position: relative;
}

.side-nav li{
    display: inline-block;
    position: relative;
}

.side-nav{
    position:relative;
    margin-top: 10px;
    margin-left:20px;
}

/** side-nav configuration **/